* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
}

.size-xxxl {
  font-size: 5rem;
}

.size-xxl {
  font-size: 3rem;
}

.size-xl {
  font-size: 1.8rem;
}

.size-l {
  font-size: 1.4rem;
}

@font-face {
  font-family: fertigoPro;
  src: url(../fonts/Fertigo_PRO.otf);
}
h1, h2, h3 {
  font-family: fertigoPro;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #262626;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
nav .logoContainer {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F2ECEB;
}
nav .navMobileStyle {
  width: 100%;
  background-color: #593528;
  position: absolute;
  top: 50px;
  display: none;
  animation-name: styleOpenMenu;
  animation-duration: 0.3;
  animation-fill-mode: forwards;
}
@keyframes styleOpenMenu {
  from {
    height: 0;
  }
  to {
    height: 40px;
  }
}
nav .linksContainer {
  width: calc(100% - 150px);
  height: 100%;
  display: none;
}
nav .linksContainer .navLink {
  display: none;
  color: #F2ECEB;
}
nav .linksContainer .navLink:hover {
  transform: scale(110%);
  transition: 0.5s;
}
nav .linksContainer .plataformLink {
  padding: 5px;
  background-color: #3F6ABF;
  border-radius: 10px;
}
nav .linksContainer .plataform:hover {
  transform: none;
  background-color: #F2ECEB;
  color: #3F6ABF;
}
nav .linksContainer .showNavLinks {
  display: flex;
  opacity: 0%;
  animation-name: showLinks;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes showLinks {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 80%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    margin: 10px 0 10px 0;
  }
}
nav .showMenu {
  width: 100%;
  display: flex;
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #593528;
  border-radius: 20%;
  animation-name: showMenu;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}
@keyframes showMenu {
  from {
    height: 0;
  }
  to {
    height: 30vh;
  }
}
nav .hamburguerContainer {
  width: 80px;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
nav .hamburguerContainer .stick {
  width: 40%;
  height: 2px;
  background-color: #F2ECEB;
  border-radius: 10px;
}

@media screen and (min-width: 900px) {
  nav .linksContainer {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  nav .linksContainer .navLink {
    display: flex;
    margin-right: 50px;
    color: #F2ECEB;
  }
  nav .hamburguerContainer {
    display: none;
  }
}
section {
  width: 100%;
  min-height: 90vh;
  height: auto;
  padding: 60px 10% 2% 10%;
}
section .textContainer {
  width: 100%;
  min-height: 55vh;
  height: auto;
}
section .buttonContainer {
  width: 100%;
  min-height: 20vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  min-height: 30vh;
  height: auto;
  background-color: #593528;
}
footer .socialMedias {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .socialMedias .bi {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  fill: #F2ECEB;
}
footer .socialMedias .bi:hover {
  transform: scale(105%);
  fill: #3F6ABF;
}
footer .legalsContainer {
  width: 100%;
  min-height: 10vh;
  height: auto;
  padding: 0 5% 2% 5%;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #F2ECEB;
}
footer .legalsContainer .linksContainer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .legalsContainer .linksContainer a {
  margin-right: 50px;
  color: #F2ECEB;
}

@media screen and (min-width: 1000px) {
  footer .socialMedias .bi {
    margin-right: 50px;
  }
}
.button {
  min-width: 100px;
  min-height: 50px;
  background-color: #3F6ABF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: #F2ECEB;
  box-shadow: 0 5 5px #3F6ABF;
  cursor: pointer;
}

.button:hover {
  transform: scale(105%);
  box-shadow: 0 0 10px #3F6ABF;
}

.carouselInfinite {
  width: 100%;
  height: 30vh;
  padding: 1% 0 1% 0;
  display: flex;
  overflow: hidden;
}
.carouselInfinite .slidetracksContainer {
  width: auto;
  height: 100%;
  display: flex;
}
.carouselInfinite .slidetracksContainer .slidetrack {
  width: 100%;
  height: 100%;
  display: flex;
}
.carouselInfinite .slidetracksContainer .slidetrack .slide {
  min-width: 80vw;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
}
.carouselInfinite .slidetracksContainer .slidetrack .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carouselInfinite .slidetracksContainer .slidetrack .slide .desktopIMG {
  display: none;
}
.carouselInfinite .slidetracksContainer .slidetrack .slide .textContainer {
  width: 100%;
  height: 20%;
  background-color: rgba(242, 236, 235, 0.462745098);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #262626;
  border-top: 2px solid rgba(242, 236, 235, 0.462745098);
}

@media screen and (min-width: 900px) {
  .carouselInfinite {
    height: 50vh;
  }
  .carouselInfinite .slidetracksContainer .slidetrack .slide .mobileIMG {
    display: none;
  }
  .carouselInfinite .slidetracksContainer .slidetrack .slide .desktopIMG {
    display: flex;
  }
}
.carouselContinuous {
  width: 100%;
  height: 20vh;
  margin-top: 20%;
  position: relative;
}
.carouselContinuous .slidetrack {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.carouselContinuous .slidetrack img {
  min-width: 80%;
  height: 100%;
  margin: 0 5px 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.carouselContinuous .slidetrack .sidesContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  display: flex;
  justify-content: space-between;
}
.carouselContinuous .slidetrack .sidesContainer .side {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselContinuous .slidetrack .sidesContainer .side svg {
  width: 30px;
  height: 30px;
}
.carouselContinuous .slidetrack .sidesContainer .side-1 {
  background: linear-gradient(to right, #262626, rgba(255, 255, 255, 0));
}
.carouselContinuous .slidetrack .sidesContainer .side-2 {
  background: linear-gradient(to left, #262626, rgba(255, 255, 255, 0));
}

form {
  width: 300px;
  min-height: 250px;
  height: auto;
  padding: 20px 30px 20px 30px;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #F2ECEB;
}
form h3 {
  margin-bottom: 15px;
}
form label {
  width: 100%;
}
form input, form select {
  margin-bottom: 15px;
  padding-left: 5px;
}
form input:disabled {
  background-color: #BF6550;
  color: #F2ECEB;
}
form .buttonContainer {
  width: 100%;
  min-height: auto;
  position: relative;
}
form .buttonContainer .button {
  width: 100%;
  margin-top: 10px;
}
form .buttonContainer .realButton {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.formType2 {
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.formType2 .inputContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.formType2 .inputContainer__sex p {
  padding: 0 100px 0 100px;
  width: 100%;
  height: 25px;
  background-color: #BF6550;
  color: #F2ECEB;
}
.formType2 .careerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.formType2 .careerContainer p {
  padding: 0 100px 0 100px;
  width: 100%;
  height: 25px;
  background-color: #BF6550;
  color: #F2ECEB;
}
.formType2 .buttonContainer {
  max-width: 200px;
  height: auto;
}
.formType2 .buttonContainer .realButton {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .formType2 .inputContainer {
    width: 50%;
  }
  .formType2 .inputContainer input {
    width: 60%;
  }
}
header {
  width: 100%;
  height: 95vh;
  position: relative;
}
header .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #593528;
  opacity: 30%;
}
header video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .textContainer {
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, #593528, rgba(255, 255, 255, 0));
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  color: #F2ECEB;
  padding-bottom: 50px;
}

.aboutUs {
  background-color: #F2ECEB;
}
.aboutUs .textContainer {
  position: relative;
}
.aboutUs .textContainer .desktop__textSpan {
  display: none;
}
.aboutUs .textContainer .desktop__extraContainer, .aboutUs .textContainer .desktop__extraContainer__2 {
  width: 35vw;
  min-height: 15vh;
  height: auto;
  background: linear-gradient(to right, #BF6550 30%, #F2ECEB);
  display: none;
  position: absolute;
  right: 0;
  top: 30%;
  grid-template-columns: 30% 70%;
  grid-template-rows: 80% 20%;
  grid-template-areas: "svg text" "title text";
}
.aboutUs .textContainer .desktop__extraContainer svg, .aboutUs .textContainer .desktop__extraContainer__2 svg {
  width: 80px;
  height: 80px;
  grid-area: svg;
  justify-self: center;
  align-self: center;
}
.aboutUs .textContainer .desktop__extraContainer .title, .aboutUs .textContainer .desktop__extraContainer__2 .title {
  grid-area: title;
  font-weight: bolder;
  text-align: center;
}
.aboutUs .textContainer .desktop__extraContainer .text, .aboutUs .textContainer .desktop__extraContainer__2 .text {
  grid-area: text;
  align-self: center;
}
.aboutUs .textContainer .desktop__extraContainer__2 {
  width: 25vw;
  top: 60%;
}

.information__1 {
  background-color: #262626;
  position: relative;
}
.information__1 .textContainer {
  color: #F2ECEB;
  position: relative;
}
.information__1 .background {
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: 26%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 5%;
}
.information__1 .background svg {
  width: 80%;
  height: 80%;
  fill: #F2ECEB;
}
.information__1 .background p {
  font-size: 3rem;
  color: #F2ECEB;
}
.information__1 .desktop__extraContainer, .information__1 .aboutUs .textContainer .desktop__extraContainer__2, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 {
  width: 100%;
  height: 30dvh;
  position: absolute;
  right: 0;
  top: 40%;
  display: none;
}
.information__1 .desktop__extraContainer .itemsContainer, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .itemsContainer, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .itemsContainer {
  width: 100%;
  height: 100%;
  margin-left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.information__1 .desktop__extraContainer .itemsContainer .item, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .itemsContainer .item, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .itemsContainer .item {
  min-width: 120px;
  height: 120px;
  background-color: #6285cc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.information__1 .desktop__extraContainer .itemsContainer .item svg, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .itemsContainer .item svg, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .itemsContainer .item svg {
  width: 50%;
  height: 50%;
  fill: #F2ECEB;
}
.information__1 .desktop__extraContainer .itemsContainer .item:hover, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .itemsContainer .item:hover, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .itemsContainer .item:hover {
  transform: scale(110%);
  background-color: #F2ECEB;
}
.information__1 .desktop__extraContainer .itemsContainer .item:hover svg, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .itemsContainer .item:hover svg, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .itemsContainer .item:hover svg {
  fill: #3F6ABF;
}
.information__1 .desktop__extraContainer .desktop__button-mainlyCareers, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .desktop__button-mainlyCareers, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .desktop__button-mainlyCareers {
  width: 60px;
  height: 100%;
  background-color: #3F6ABF;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.information__1 .desktop__extraContainer .desktop__button-mainlyCareers p, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .desktop__button-mainlyCareers p, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .desktop__button-mainlyCareers p {
  font-weight: bold;
  writing-mode: vertical-lr;
  text-align: center;
  color: #F2ECEB;
}
.information__1 .desktop__extraContainer .desktop__button-mainlyCareers:hover, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .desktop__button-mainlyCareers:hover, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .desktop__button-mainlyCareers:hover {
  width: 70px;
  transition: 0.5s;
}
.information__1 .buttonContainer {
  margin-top: 100px;
}

.information__2 {
  background-color: #262626;
  color: #F2ECEB;
}

.frequentQuestions {
  background-color: #F2ECEB;
}
.frequentQuestions .emptyDiv-1 {
  width: 100%;
  height: 5px;
  margin-top: 20px;
  background-color: #262626;
  border-radius: 20px 20px 0 0;
}
.frequentQuestions .questionContainer {
  width: 100%;
  height: 80px;
  padding: 0 5% 0 5%;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F2ECEB;
  cursor: pointer;
}
.frequentQuestions .questionContainer .rotateArrow {
  animation-name: rotateArrow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.frequentQuestions .answerContainer {
  width: 100%;
  background-color: #BF6550;
  display: none;
  justify-content: center;
  align-items: center;
  color: #F2ECEB;
  text-align: center;
}
.frequentQuestions .showAnswerContainer {
  display: flex;
  animation-name: showAnswerContainer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes showAnswerContainer {
  from {
    min-height: 0;
    height: 0;
  }
  to {
    min-height: 30vh;
    height: auto;
  }
}
.frequentQuestions .showAnswer {
  animation-name: showAnswer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes showAnswer {
  0% {
    display: none;
    opacity: 0;
    margin: 0;
  }
  50% {
    display: flex;
    opacity: 0;
    margin: 5px 10px 5px 10px;
  }
  100% {
    display: flex;
    opacity: 100%;
  }
}
.frequentQuestions .emptyDiv-2 {
  width: 100%;
  height: 5px;
  background-color: #262626;
  border-radius: 0 0 20px 20px;
}

@media screen and (min-width: 900px) {
  .aboutUs .textContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "title desktop__extraContainer" "text  desktop__extraContainer";
  }
  .aboutUs .textContainer .title {
    grid-area: title;
  }
  .aboutUs .textContainer .text {
    grid-area: text;
  }
  .aboutUs .textContainer .desktop__textSpan {
    display: flex;
  }
  .aboutUs .textContainer .desktop__extraContainer, .aboutUs .textContainer .desktop__extraContainer__2 {
    width: 35vw;
    min-height: 15vh;
    height: auto;
    background: linear-gradient(to right, #BF6550 30%, #F2ECEB);
    display: grid;
    position: absolute;
    right: 0;
    top: 30%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80% 20%;
    grid-template-areas: "svg text" "title text";
  }
  .aboutUs .textContainer .desktop__extraContainer svg, .aboutUs .textContainer .desktop__extraContainer__2 svg {
    width: 80px;
    height: 80px;
    grid-area: svg;
    justify-self: center;
    align-self: center;
  }
  .aboutUs .textContainer .desktop__extraContainer .title, .aboutUs .textContainer .desktop__extraContainer__2 .title {
    grid-area: title;
    font-weight: bolder;
    text-align: center;
  }
  .aboutUs .textContainer .desktop__extraContainer .text, .aboutUs .textContainer .desktop__extraContainer__2 .text {
    grid-area: text;
    align-self: center;
  }
  .aboutUs .textContainer .desktop__extraContainer__2 {
    width: 25vw;
    top: 60%;
  }
  .information__1 {
    background-color: #262626;
    position: relative;
  }
  .information__1 .desktop__extraContainer, .information__1 .aboutUs .textContainer .desktop__extraContainer__2, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 {
    display: flex;
  }
  .information__1 .desktop__extraContainer .desktop__button-mainlyCareers, .information__1 .aboutUs .textContainer .desktop__extraContainer__2 .desktop__button-mainlyCareers, .aboutUs .textContainer .information__1 .desktop__extraContainer__2 .desktop__button-mainlyCareers {
    display: flex;
  }
  .frequentQuestions .emptyDiv-1 {
    width: 100%;
    height: 5px;
    background-color: #262626;
    border-radius: 20px 20px 0 0;
  }
  .frequentQuestions .questionContainer {
    width: 100%;
    height: 80px;
    padding: 0 5% 0 5%;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F2ECEB;
    cursor: pointer;
  }
  .frequentQuestions .answerContainer {
    width: 100%;
    background-color: #BF6550;
    display: none;
    justify-content: center;
    align-items: center;
    color: #F2ECEB;
    text-align: center;
  }
  .frequentQuestions .showAnswerContainer {
    display: flex;
    animation-name: showAnswerContainer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes showAnswerContainer {
    from {
      min-height: 0;
      height: 0;
    }
    to {
      min-height: 15vh;
      height: auto;
    }
  }
}
.plataform__enter {
  min-height: 100vh;
}
.plataform__enter .contentContainer {
  width: 100%;
  min-height: 73vh;
  height: auto;
  position: relative;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.plataform__enter .contentContainer .buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.plataform__enter .contentContainer .buttonsContainer .circle {
  width: 150px;
  height: 50px;
  background-color: #593528;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2ECEB;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
.plataform__enter .contentContainer .buttonsContainer .circleUp {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.plataform__enter .contentContainer .buttonsContainer .line {
  width: 100%;
  height: 1px;
  background-color: #593528;
}
.plataform__enter .contentContainer .buttonsContainer .circleDown {
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.plataform__enter .contentContainer .buttonsContainer .circle:hover {
  transform: scale(105%);
  background-color: #3F6ABF;
  transition: 0.2s;
}
.plataform__enter .contentContainer .formSignUpContainer {
  width: 100%;
  min-height: 70vh;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
}
@keyframes showFormcontainer {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.plataform__enter .contentContainer .formSignUpContainer .signUpForm {
  display: flex;
  margin-top: 100px;
}
.plataform__enter .contentContainer .formSignUpContainer .formShaker {
  animation-name: formShaker;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
@keyframes formShaker {
  0% {
    margin-right: 2px;
  }
  25% {
    margin-right: -2px;
  }
  50% {
    margin-right: 2px;
  }
  75% {
    margin-right: -2px;
  }
  100% {
    margin-right: 2px;
  }
}
.plataform__enter .contentContainer .formLogInContainer {
  width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
}
.plataform__enter .contentContainer .formLogInContainer .logInForm {
  display: flex;
}
.plataform__enter .contentContainer .formLogInContainer .linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.plataform__enter .contentContainer .formLogInContainer .linksContainer a {
  margin-top: 5px;
  color: #593528;
}
.plataform__enter .contentContainer .showForm {
  animation-name: showForm;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
@keyframes showForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.plataform__enter .contentContainer .hideForm {
  animation-name: hideForm;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
@keyframes hideForm {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.plataform {
  height: 100vh;
  position: relative;
  background-color: #F2ECEB;
}
.plataform .titleContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plataform .titleContainer .logoContainer {
  width: 10%;
  height: 70px;
  background-color: #F2ECEB;
  display: none;
  border-radius: 10%;
  color: #262626;
}
.plataform .titleContainer .logoContainer svg {
  fill: #262626;
}
.plataform .optionsContainer {
  width: 80%;
  min-height: 5vh;
  height: auto;
  background-color: #593528;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 10px 10px;
  z-index: 1;
}
.plataform .optionsContainer p {
  color: #F2ECEB;
  display: none;
  text-align: center;
  opacity: 0;
  cursor: pointer;
}
.plataform .optionsContainer p:hover {
  transform: scale(105%);
  transition: 0.5s;
  color: #3F6ABF;
}
.plataform .optionsContainer .circle {
  width: 40px;
  height: 40px;
  background-color: #3F6ABF;
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.plataform .optionsContainer .circle svg {
  width: 25px;
  height: 25px;
  fill: #F2ECEB;
}
.plataform .showMenu {
  animation-name: showMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes showMenu {
  from {
    height: 5vh;
  }
  to {
    height: 80vh;
  }
}
.plataform .hideMenu {
  animation-name: hideMenu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes hideMenu {
  from {
    height: 80vh;
  }
  to {
    height: 5vh;
  }
}
.plataform .contentContainer {
  width: 100%;
  min-height: 80vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plataform .contentContainer .myCareer {
  width: 100%;
  min-height: auto;
  display: none;
  flex-direction: column;
  opacity: 0;
}
.plataform .contentContainer .myCareer .textContainer {
  min-height: 10vh;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2ECEB;
}
.plataform .contentContainer .myCareer .informationContainer {
  width: 100%;
  min-height: 55vh;
}
.plataform .contentContainer .myCareer .informationContainer .careerContainer {
  width: 100%;
  height: 10vh;
  background-color: #BF6550;
}
.plataform .contentContainer .myCareer .informationContainer .subjectsContainer {
  width: 100%;
  height: 45vh;
  padding: 2%;
  overflow-y: scroll;
}
.plataform .contentContainer .changeInformation {
  width: 100%;
  min-height: 65vh;
  height: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}
.plataform .contentContainer .showContainer {
  animation-name: showContainer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes showContainer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.plataform .contentContainer .hideContainer {
  animation-name: hideContainer;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes hideContainer {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.plataform .logoContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #593528;
  color: #F2ECEB;
  border-radius: 0 0 10px 10px;
}
.plataform .logoContainer svg {
  width: 30px;
  height: 30px;
  fill: #F2ECEB;
}

@media screen and (min-width: 1000px) {
  .plataform {
    display: flex;
    flex-wrap: wrap;
  }
  .plataform .titleContainer .logoContainer {
    display: flex;
  }
  .plataform .optionsContainer {
    width: 10%;
    height: 70vh;
    margin-top: 5vh;
    position: relative;
    border-radius: 0 10px 10px 0;
  }
  .plataform .optionsContainer p {
    margin-bottom: 20px;
    display: flex;
    opacity: 100;
  }
  .plataform .optionsContainer .circle {
    display: none;
  }
  .plataform .contentContainer {
    width: 90%;
    height: 60vh;
    padding-left: 100px;
  }
  .plataform .contentContainer .myCareer .informationContainer {
    display: flex;
  }
  .plataform .contentContainer .myCareer .informationContainer .careerContainer {
    width: 30%;
    height: 55vh;
  }
  .plataform .contentContainer .myCareer .informationContainer .subjectsContainer {
    width: 70%;
    height: 55vh;
  }
  .plataform .contentContainer .changeInformation {
    width: 100%;
    min-height: 70vh;
    margin-top: 0px;
    justify-content: center;
  }
  .plataform .logoContainer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */