$color-primary: #F2ECEB;
$color-primary-transparent: #f2eceb76;
$color-secondary: #262626;
$color-tertiary: #593528;
$color-quaternary: #3F6ABF;
$color-quaternary-variant: #6285cc;
$color-quintary: #BF6550;
