nav{
    width: 100%;
    height: 50px;
    background-color: $color-secondary;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

        .logoContainer{
            width: 150px;
            height: 100%;
            @include flexStructureColumn;
            color: $color-primary;
        }

        .navMobileStyle{
            width: 100%;
            background-color: $color-tertiary;
            position: absolute;
            top: 50px;
            display: none;

            animation-name: styleOpenMenu;
            animation-duration: 0.3;
            animation-fill-mode: forwards;
            @keyframes styleOpenMenu {
                from{
                    height: 0;
                }
                to{
                    height: 10vh;
                }
            }
        }

        .linksContainer{
            width: calc(100% - 150px);
            height: 100%;
            display: none;
            
                .navLink{
                    display: none;
                    color: $color-primary;
                }

                .navLink:hover{
                    transform: scale(110%);
                    transition: 0.5s;
                }

                .plataformLink{
                    padding: 5px;
                    background-color: $color-quaternary;
                    border-radius: 10px;
                }

                .plataform:hover{
                    transform: none;
                    background-color: $color-primary;
                    color: $color-quaternary;
                }

                // it shows the links in nav.js
                .showNavLinks{
                    display: flex;
                    opacity: 0%;
                    animation-name: showLinks;
                    animation-duration: 0.6s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                    @keyframes showLinks{
                        0%{
                            opacity: 0%;
                        }
                        50%{
                            opacity: 80%;
                        }
                        70%{
                            opacity: 100%;
                        }

                        100%{
                            opacity: 100%;
                            margin: 10px 0 10px 0;
                        }
                    }
                }
                // -
        }


        // it opens the menu in nav.js
        .showMenu{
            width: 100%;
            display: flex;
            position: absolute;
            top: 50px;
            @include flexStructureColumn;
            background-color: $color-tertiary;
            

            animation-name: showMenu;
            animation-fill-mode: forwards;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            @keyframes showMenu {
                from{
                    height: 0;
                }
                to{
                    height: 30vh;
                }
            }
        }
        // -

        .hamburguerContainer{
            width: 80px;
            height: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

                .stick{
                    width: 40%;
                    height: 2px;
                    background-color: $color-primary;
                    border-radius: 10px;
                }
        }
}

@media screen and (min-width: 900px){
    nav{
        .linksContainer{
            display: flex;
            justify-content: right;
            align-items: center;
            
                .navLink{
                    display: flex;
                    margin-right: 50px;
                    color: $color-primary;
                }

        }

        .hamburguerContainer{
            display: none;
        }
    }
}