section{
    width: 100%;
    min-height: 90vh;
    height: auto;
    padding: 60px 10% 2% 10%;
        
        .textContainer{
            width: 100%;
            min-height: 55vh;
            height: auto;
        }

        .buttonContainer{
            width: 100%;
            min-height: 20vh;
            height: auto;
            @include flexStructureRow;
        }
}

