.carouselInfinite{
    width: 100%;
    height: 30vh;
    padding: 1% 0 1% 0;
    display: flex;
    overflow: scroll;

        .slidetracksContainer{
            width: auto;
            height: 100%;
            display: flex;
            

            .slidetrack{
                width: 100%;
                height: 100%;
                display: flex;

                    .slide{
                        min-width: 80vw;
                        height: 100%;
                        margin: 0 0 0 5px;
                        position: relative;
                        
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            .desktopIMG{
                                display: none;
                            }

                            .textContainer{
                                width: 100%;
                                height: 20%;
                                background-color: $color-primary-transparent;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                @include flexStructureRow;
                                text-align: center;
                                color: $color-secondary;
                                border-top: 2px solid $color-primary-transparent;
                            }
                    }
            }
    }
}

// TODO - fix the problems with the images in the slides 
@media screen and (min-width: 900px){
    .carouselInfinite{
        height: 50vh;
        .slidetrack{
            .slide{
                .mobileIMG{
                    display: none;
                }

                .desktopIMG{
                    display: flex;
                }
            }
        }
    }
}