header{
    width: 100%;
    height: 95vh;
    position: relative;


        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $color-tertiary;
            opacity: 30%;
        }

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .textContainer{
            width: 100%;
            height: 60%;
            background:linear-gradient(to top, $color-tertiary, rgba(255, 255, 255, 0));
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            color: $color-primary;
            padding-bottom: 50px;
        }
}

.aboutUs{
    background-color: $color-primary;

        .textContainer{
            position: relative;

                .desktop__textSpan{
                    display: none;
                }

                .desktop__extraContainer{
                    width: 35vw;
                    min-height: 15vh;
                    height: auto;
                    background: linear-gradient(to right, $color-quintary 30%,  $color-primary);
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 30%;
                    grid-template-columns: 30% 70%;
                    grid-template-rows: 80% 20%;
                    grid-template-areas:
                    "svg text"
                    "title text";

                        svg{
                            width: 80px;
                            height: 80px;
                            grid-area: svg;
                            justify-self: center;
                            align-self: center;
                        }

                        .title{
                            grid-area: title;
                            font-weight: bolder;
                            text-align: center;
                        }

                        .text{
                            grid-area: text;
                            align-self: center;
                        }
                }

                .desktop__extraContainer__2{
                    @extend .desktop__extraContainer;
                    width: 25vw;
                    top: 60%;
                }
        }
}

.information__1{
    background-color: $color-secondary;
    position: relative;
        .textContainer{
            color: $color-primary;
            position: relative;
        }

        .background{
            width: 100%;
            height: 30vh;
            position: absolute;
            bottom: 26%;
            right: 0;
            @include flexStructureColumn;
            opacity: 5%;

                svg{
                    width: 80%;
                    height: 80%;
                    fill: $color-primary;
                }

                p{
                    font-size: 3rem;
                    color: $color-primary;
                }
        }

        .desktop__extraContainer{
            width: 100%;
            height: 30dvh;
            position: absolute;
            right: 0;
            top: 40%;
            display: none;


                .itemsContainer{
                    width: 100%;
                    height: 100%;
                    margin-left: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                        .item{
                            min-width: 120px;
                            height: 120px;
                            background-color: $color-quaternary-variant;
                            @include flexStructureRow;
                            border-radius: 50%;
                            cursor: pointer;
    
                                svg{
                                    width: 50%;
                                    height: 50%;
                                    fill: $color-primary;
                                }
                        }
    
                        .item:hover{
                            transform: scale(110%);
                            background-color: $color-primary;
                            
                                svg{
                                    fill: $color-quaternary;
                                }
                        }
                }
                
                .desktop__button-mainlyCareers{
                    width: 60px;
                    height: 100%;
                    background-color: $color-quaternary;
                    position: absolute;
                    right: 0;
                    @include flexStructureRow;
                    border-radius: 10px 0 0 10px;
                    cursor: pointer;

                        p{
                            font-weight: bold;
                            writing-mode: vertical-lr;
                            text-align: center;
                            color: $color-primary;
                        }
                }

                .desktop__button-mainlyCareers:hover{
                    width: 70px;
                    transition: 0.5s;
                }
        }

        .buttonContainer{
            margin-top: 100px;
        }
}

.information__2{
    background-color: $color-secondary;
    color: $color-primary;
}

.frequentQuestions{

    .emptyDiv-1{
        width: 100%;
        height: 5px;
        margin-top: 20px;
        background-color: $color-secondary;
        border-radius: 20px 20px 0 0;
    }

    .questionContainer{
        width: 100%;
        height: 80px;
        padding: 0 5% 0 5%;
        background-color: $color-secondary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-primary;
        cursor: pointer;
    }

    .answerContainer{
        width: 100%;
        background-color: $color-quintary;
        display: none;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        text-align: center;
    }

    // These ones show the answers container and the answers, and also add styles on them
    .showAnswerContainer{
        display: flex;
        
        animation-name: showAnswerContainer;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        @keyframes showAnswerContainer{
            from{
                min-height: 0;
                height: 0;
            }
            to{
                min-height: 30vh;
                height: auto;
            }
        }
    }

    .showAnswer{
        animation-name: showAnswer;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        @keyframes showAnswer {
            0%{
                display: none;
                opacity: 0;
                margin: 0;
            }
            50%{
                display: flex;
                opacity: 0;
                margin: 5px 10px 5px 10px;
            }
            100%{
                display: flex;
                opacity: 100%;
            }
        }
    }
    // -

    .emptyDiv-2{
        width: 100%;
        height: 5px;
        background-color: $color-secondary;
        border-radius: 0 0 20px 20px;
    }
}

@media screen and (min-width: 900px){
    .aboutUs{
        .textContainer{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 10% 90%;
            grid-template-areas: 
            "title desktop__extraContainer"
            "text  desktop__extraContainer";

            .title{
                grid-area: title;
            }

            .text{
                grid-area: text;
            }

            .desktop__textSpan{
                display: flex;
            }

            .desktop__extraContainer{
                width: 35vw;
                min-height: 15vh;
                height: auto;
                background: linear-gradient(to right, $color-quintary 30%,  $color-primary);
                display: grid;
                position: absolute;
                right: 0;
                top: 30%;
                grid-template-columns: 30% 70%;
                grid-template-rows: 80% 20%;
                grid-template-areas:
                "svg text"
                "title text";

                    svg{
                        width: 80px;
                        height: 80px;
                        grid-area: svg;
                        justify-self: center;
                        align-self: center;
                    }

                    .title{
                        grid-area: title;
                        font-weight: bolder;
                        text-align: center;
                    }

                    .text{
                        grid-area: text;
                        align-self: center;
                    }
            }

            .desktop__extraContainer__2{
                @extend .desktop__extraContainer;
                width: 25vw;
                top: 60%;
            }
        }
    }

    .information__1{
        background-color: $color-secondary;
        position: relative;

        .desktop__extraContainer{
            display: flex;
                .desktop__button-mainlyCareers{
                    display: flex;
                }
        }
    
    }

    .frequentQuestions{

        .emptyDiv-1{
            width: 100%;
            height: 5px;
            background-color: $color-secondary;
            border-radius: 20px 20px 0 0;
        }
    
        .questionContainer{
            width: 100%;
            height: 80px;
            padding: 0 5% 0 5%;
            background-color: $color-secondary;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $color-primary;
            cursor: pointer;
        }
    
        .answerContainer{
            width: 100%;
            background-color: $color-quintary;
            display: none;
            justify-content: center;
            align-items: center;
            color: $color-primary;
            text-align: center;
        }
    
        // These ones show the answers container and the answers, and also add styles on them
        .showAnswerContainer{
            display: flex;
            
            animation-name: showAnswerContainer;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            @keyframes showAnswerContainer{
                from{
                    min-height: 0;
                    height: 0;
                }
                to{
                    min-height: 15vh;
                    height: auto;
                }
            }
        }
    }
}